{% extends 'base.html' %}
{% block content %}
{{ super() }}
<head>
    <title>Bootstrap Table Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Добавить данные в акт выполненных работ</h2>
    <form action="{{ url_for('addAct_foreign_key') }}" method="POST" id="actForm">
        <div class="form-group">
            <label for="data_order">Дата заявки</label>
            <input type="text" name="data_order" class="form-control" id="data_order">
        </div>
        <div class="form-group">
            <label for="data_act">Дата акта</label>
            <input type="text" name="data_act" class="form-control" id="data_act">
        </div>
        <div class="form-group">
            <label for="number_car">Номер машины</label>
            <input type="text" name="number_car" class="form-control" id="number_car">
        </div>

        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Материалы</th>
                    <th scope="col">Стоимость 1ед.</th>
                    <th scope="col">Количество материалов</th>
                    <th scope="col">Наименование работ</th>
                    <th scope="col">Стоимость работ</th>
                    <th scope="col">Работу выполнил</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><input type="text" name="rows[0][materials][]" class="form-control"></td>
                <td><input type="number" name="rows[0][price_materials][]" class="form-control"></td>
                <td><input type="number" name="rows[0][quantity][]" class="form-control"></td>
                <td><input type="text" name="rows[0][work_completed][]" class="form-control"></td>
                <td><input type="number" name="rows[0][name_work][]" class="form-control"></td>
                <td><input type="text" name="rows[0][price_work][]" class="form-control"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="addRow()">Добавить строку</button>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
    <script>

        function addRow() {
            var table = document.getElementById("myTable").getElementsByTagName('tbody')[0];
            var rowCount = table.rows.length;
            var newRow = table.insertRow(rowCount);
            var cols = 6; // Number of columns in the table
            var colNames = ['materials', 'price_materials', 'quantity', 'work_completed', 'name_work', 'price_work']; // Names of the columns
            for (var i = 0; i < cols; i++) {
                var newCell = newRow.insertCell(i);
                newCell.innerHTML = `<input type="text" class="form-control" name="rows[${rowCount}][${colNames[i]}][]">`;
            }
        }

    </script>
</body>
{% endblock %}
