{% extends 'base.html' %}

{% block content %}
{{ super() }}

<h2>Добавление материалов на склад</h2>
<div style="margin-bottom: 20px;"></div>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="{{url_for('addStock')}}" method="post" class="form-contact">
<p><label>Название: </label> <input type="text" name="name" value="" style="width: 400px;" required />
<p><label>Количество: </label> <input type="number" name="quantity" value="" step="1" required />
<p><label>Цена 1 шт.(без запятой): </label> <input type="number" name="price_unit" value="" step="1" required />
<p><input type="submit" value="Добавить" />
</form>

{% endblock %}