{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="bordered-text">
    <p>Реквизиты:</p>
    <p>ООО "Drive Avto"</p>
    <p>г.Волковыск</p>
    <p>ул.Весенняя, 10</p>
    <p>р/с 5127846355124</p>
    <p>Авто-Банк</p>

</div>
<div style="margin-bottom: 20px;"></div>


<p>Директор Васечкин Александр Васильевич  +315 45 8452167</p>
<p>Главный бухгалтер Маркова Анастасия Ивановна  +315 45 8421478</p>
<p>Мастер участка № 1 Иванов Иван Иванович  +315 45 6989621</p>
<p>Мастер участка № 2 Петров Петр Петрович  +315 45 5477125</p>
<p></p>
{% endblock %}

