{% extends 'base.html' %}

{% block content %}
{{ super() }}

<h2>Склад материалов</h2>
<div style="margin-bottom: 20px;"></div> <!-- Пространство -->

<!-- Форма поиска -->
<form class="d-flex" role="search">
  <input class="form-control me-2 narrow-search" type="search" id="searchInput" placeholder="Поиск" aria-label="Search">
  <button class="btn btn-outline-success narrow-button" type="submit">Вернуться к складу</button>
</form>

<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Название</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена 1 шт.</th>
    </tr>
  </thead>
  <tbody>
    {% for row in stock %}
    <tr>
      <th scope="row">{{ loop.index }}</th> <!-- Используем loop.index для нумерации строк -->
      <td>{{ row.name_total }}</td>
      <td>{{ row.quantity_total }}</td>
      <td>{{ '%.2f' % (row.price_unit_total / 100) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<!-- JavaScript-код для обработки поиска -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

{% endblock %}
